.highlight {
  box-shadow: var(--drop-shadow-subtle);
  transition: 
    border-color 0.5s ease,
    background-color 0.5s ease
    box-shadow 0.5s ease;
}

.highlight:hover {
  border-color: var(--color-def-l-green);
  background-color: var(--color-def-white);
  box-shadow: var(--drop-shadow-green);
  color: var(--color-def-grey)
}

.button {
  cursor: pointer;
  transition: transform 0.25s ease;
}

.button:hover {
  transform: scale3d(1.2, 1.2, 1);
}