.highlight {
  box-shadow: var(--drop-shadow-subtle);
  transition: 
    border-color 0.5s ease,
    background-color 0.5s ease,
    color 0.5s ease,
    box-shadow 0.5s ease;
}

.highlight:hover {
  border-color: var(--color-def-l-green);
  background-color: var(--color-def-white);
  box-shadow: var(--drop-shadow-green);
  color: var(--color-def-grey)
}

.highlightToggle {
  box-shadow: var(--drop-shadow-subtle);
  background-color: var(--color-def-green);  
  color: var(--color-def-white);
  transition: 
    border-color 0.5s ease,
    color 0.5s ease,
    box-shadow 0.5s ease,
    background-color 0.5s ease ;
}

.highlightToggle:hover {
  border-color: var(--color-def-white);
  box-shadow: var(--drop-shadow-green);
}

.button, .button-s {
  cursor: pointer;
  transition: transform 0.25s ease;
}

.button:hover {
  transform: scale3d(1.2, 1.2, 1);
}

.button-s:hover {
  transform: scale3d(1.1, 1.1, 1);
}