.carousel {
  width: 110%;
  margin-inline: -5%;
  display: flex;
  overflow-x: auto;
  z-index: 10;
  box-shadow:
    0px -1px 5px var(--color-def-orange),
    0px 1px 5px var(--color-def-orange);
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 10s infinite linear;
  padding-block: 0.5rem;
  padding-inline: 0.25rem;
  gap: 0.5rem;
}

.card {
  width: 25rem;
  aspect-ratio: 3/2;
  background: var(--color-def-l-grey);
  border-radius: .2em;
  text-align: center;
  align-content: center;
  border-width: 0.25rem;
  border-color: var(--color-def-green);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes spin {
  from {
    translate: 0%;
  }
  to {
    translate: -100%;
  }
}