.highlight {
  box-shadow: var(--drop-shadow-subtle);
  transition: 
    border-color 0.5s ease,
    background-color 0.5s ease
    box-shadow 0.5s ease;
}

.highlight:hover {
  border-color: var(--color-def-l-green);
  background-color: var(--color-def-white);
  box-shadow: 2px 2px 4px var(--color-def-green);
  color: var(--color-def-grey)
}